html{
  height: 100%;
  overflow: hidden;
}

body{
    background-color: #322e32;
    /*margin: 15px 0 15px 0;*/
    padding-top: 65px;
    min-height: 100%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    -webkit-perspective: 1px;
            perspective: 1px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

main{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 30px; /* footer height */
}

.purchaseButton {
    background-color: #bc056a;
    border: 2px solid #ede8c7;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 5px;
}

.purchaseButton:hover {
    background-color: #143cff;
    color: #FFF;
}

.btn-info{
    color: #000 !important;
}

/*Form adjustments*/
.panel-body {
    background-color:#000000
}

.form-group {
    font-family: 'Raleway', sans-serif;
    color: #e1f0f7
}

.gdfg {
    font-family: 'Raleway', sans-serif;
}

.outside-form{
    font-family: 'Raleway', sans-serif;
    color: #e1f0f7
}

.bigserif {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

/*end purchase*/

a {
    color: #ff99ff;
    text-decoration: none;
}


.piece {
    padding: 1em 1em 0 0;
    font-size:large;
}
h1, h2{
    font-family: 'Della Respira', serif;
    color: #fff;
}

.above-slide {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
    letter-spacing: 10px;
}

/*Navbar Top*/
 .navbar-default {
    background-color: #402050;
    border-color: #81589a;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 0;
}

/*NAV hover text color*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f5f6b7;
}

/*NAV active*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
     color: #f9d0f8;
     background-color: #a604a1;
}

/*NAV text links*/
.navbar-default .navbar-nav > li > a, .navbar-brand {
 color: #fff;
 font-size: 20px !important;
}

/*NAV brand to logo, including adjustments*/
.navbar-brand {
  height: 65px;
  padding: 0;
}

.nav >li >a {
    padding: 1.15em;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

/*BOTTOM NAV adjustments*/
.navbar-fixed-bottom{
    background-color: #0e0413;
    color: #ede8c7;
}

.navbar-inverse .navbar-text {
    font-family: 'Della Respira', serif;
    color: #fff;
}

/*2/11/2019 Nav adjustments*/
.navbar-default .navbar-nav>.open>a {
  color: #f5f6b7;
  background-color: #402050;
  font-style: italic;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #a604a1;
  color: #402050;
}

.navbar-default .navbar-nav>.open>a:hover {
  background-color: #402050;
  color: #feffc0;
}

.dropdown-menu>li>a{
  color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: #ffffff;
  background-color: rgba(220, 172, 219, 0.51);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #402050;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
}

#footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}


/*Cover parallax fix*/
.para-covered{
  background: #322e32;
  z-index: 2;
}

/*Index page grids (post-slider) 11/30/18*/
.index-about{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5vw 22vw 1vw auto 1.5vw;
  grid-template-columns: 1.5vw 22vw 1vw auto 1.5vw;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  z-index: 2;
  background: #322e32;
}
.index-about > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.index-about > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.index-about > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.index-about > *:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.index-about > *:nth-child(5){
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.anni-photo{
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  z-index: 2;
  background: #322e32;
  padding-top: 24px;
}

.about-anni{
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  z-index: 2;
  background: #322e32;
}

.no-para {
  z-index: 2;
  background: #322e32;
}

.about-gap1 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.about-gap2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.about-gap3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.index-tour{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5vw 48vw 1vw 48vw 1.5vw;
  grid-template-columns: 1.5vw 48vw 1vw 48vw 1.5vw;;
  -ms-grid-rows: 100px 100vh 100px 100vh 75px 100vh 45vh;;
  grid-template-rows: 100px 100vh 100px 100vh 75px 100vh 45vh;
}

.index-tour > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.index-tour > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.index-tour > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.index-tour > *:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.index-tour > *:nth-child(5){
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.index-tour > *:nth-child(6){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.index-tour > *:nth-child(7){
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.index-tour > *:nth-child(8){
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.index-tour > *:nth-child(9){
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.index-tour > *:nth-child(10){
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.index-tour > *:nth-child(11){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.index-tour > *:nth-child(12){
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.index-tour > *:nth-child(13){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.index-tour > *:nth-child(14){
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.index-tour > *:nth-child(15){
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.index-tour > *:nth-child(16){
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.index-tour > *:nth-child(17){
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.index-tour > *:nth-child(18){
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.index-tour > *:nth-child(19){
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.index-tour > *:nth-child(20){
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.index-tour > *:nth-child(21){
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.index-tour > *:nth-child(22){
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.index-tour > *:nth-child(23){
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.index-tour > *:nth-child(24){
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.index-tour > *:nth-child(25){
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.index-tour > *:nth-child(26){
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.index-tour > *:nth-child(27){
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.index-tour > *:nth-child(28){
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.index-tour > *:nth-child(29){
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.index-tour > *:nth-child(30){
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.index-tour > *:nth-child(31){
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.index-tour > *:nth-child(32){
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.index-tour > *:nth-child(33){
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.index-tour > *:nth-child(34){
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}

.index-tour > *:nth-child(35){
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.index-tour h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 1px -1px 0 #000, -1px 2px 1px #1A1A1A, -2px 4px 1px #141414, -3px 6px 1px #292929;
}

#tour-header{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  z-index: 2;
  background: #322e32;
  text-align: center;
}

#tour-gallery{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#tour-gallery:before{
  background: url('indexTour1.png');
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

#tour-gallery-text{
  position: absolute;
  left: 50%;
  margin-right: -25%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 37%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5em;
  font-size: 1.3em;
  background: #00000061;
  border-radius: 80px;
}

#tour-portraits{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  /*height: 100px;
  width: 100%;*/
  background: #322e32;
  z-index: 2;
}

#tour-portraits p {
  text-align: center;
}

#tour-pet-portraits{
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  background: url('../gallery/01032019A.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

#tour-human-portraits{
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  background: url('../gallery/79183.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

#tour-portraits-text{
  position: absolute;
  /* margin: 54vh 4vw;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 1.3em; */
  background: #0000007d;
  border-radius: 42px;
  text-align: center;
}

#tour-portraits-text h3 {
  text-align: center;
  text-shadow: 1px -1px 0 #000, -1px 2px 1px #1A1A1A, -2px 4px 1px #141414, -3px 6px 1px #292929;
}

.tour-portraits-text-margins1{
  margin: 54vh 0vw 0 6vw;
  padding: 5px;
}

.tour-portraits-text-margins2{
  margin: 54vh 10vw;
  padding: 5px;
}

#portraits-gap1 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#portraits-gap2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#portraits-gap3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#portraits-bottom {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#tour-special{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-row: 6;
      grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#tour-special:before{
  background: url('indexTour2.png');
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

#soc6-gap2{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#soc6-logo{
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#soc6-gap1{
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#soc6-text{
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#soc6-gap3{
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

/*2019 Redesign Changes*/
blockquote {
  font-family: 'Della Respira', serif;
}

/*portrait pages*/
.portrait-prices{
  text-align: center;
}

.portrait-prices table {
    margin: 0 auto;
    font-size: large;
}

.petport-grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% auto;
  grid-template-columns: 30% 30% auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.petport-grid > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.petport-grid > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.petport-grid > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.petport-comp-head{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  text-align: center;
}

.petport-comp-sasha{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  margin-left: auto;
  margin-right: auto;
}

.petport-comp-sasha img, .petport-comp-linus img {
  height: 42vh;
}

.petport-comp-linus{
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  margin-left: auto;
  margin-right: auto;
}

.petport-prices{
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

blockquote .small, blockquote footer, blockquote small {
    color: #ff89fb;
}


.parallax-back{
  position: relative;
  padding: 25% 10%;
  min-height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
          box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  -webkit-transform-style: inherit;
          transform-style: inherit;
}

.parallax-back::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.parallax-back, .parallax-back::before{
  background: 50% 50% / cover;
}

/*Galleries 02/06/2019 Changes*/
.gallery-header{
  text-align: center;
}

.gallery{
  /*Grid Fallback*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  /*Supports CSS Grid*/
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -ms-grid-rows: minmax(150px, auto);
  grid-template-rows: minmax(150px, auto);
  grid-gap: 1em;
  margin: 1.5em;
}

.gallery-selection{
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.gallery-selection > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery-selection > *:nth-child(2){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.piece-image{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.piece-details{
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .gallery-selection {
    margin: 0;
  }
}


.gallery p {
    padding: 1em 0;
}

/*PHONE*/
@media only screen and (max-width: 600px){
  .above-slide {
      font-size: large;
  }

  .slick-prev, .slick-next {
    margin: -75px 12vw;
  }

  .index-about{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .index-about > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .index-about > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .index-about > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .anni-photo{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    margin: 0 2em;
    z-index: 2;
    background: #322e32;
  }

  .about-anni{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    padding: 2em 2em 0em 2em;
    z-index: 2;
    background: #322e32;
  }

  .index-tour {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 100px 100vh 100px 100vh 100vh 100vh 13vh 55vh;
    grid-template-rows: 100px 100vh 100px 100vh 100vh 100vh 13vh 55vh;
  }

  .index-tour > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .index-tour > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .index-tour > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .index-tour > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .index-tour > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .index-tour > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  .index-tour > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .index-tour > *:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }

  #tour-gallery-text{
    padding: 0 1em;
    font-size: 1em;
  }

  #tour-pet-portraits {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #tour-human-portraits {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }

  #soc6-logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    padding: 0 10% 0 10%;
  }

  #soc6-text {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 8;
        grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
    padding: 4px 15px;
  }

  /*petportrait.php*/
  .petport-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .petport-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .petport-comp-head{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  .petport-comp-sasha{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    margin-bottom: 1em;
  }

  .petport-comp-linus{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  .petport-prices{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }

}

/*gallery side images*/
.side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

/*gallery main image*/
.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.piecetext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*table*/
td, th {
    padding-left: 10px;
}

/* tablets */
@media (max-width: 991px) and (min-width: 640px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
        width: 80%;
    }

    .nav.navbar-nav.navbar-right {
        margin-right: -45px;
    }

    .above-slide {
        font-size: large;
    }

    .slick-prev, .slick-next {
      margin: -75px 12vw;
    }

    .index-about{
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
    }

    .index-about > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }

    .index-about > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    }

    .index-about > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    }

    .anni-photo{
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 1;
      grid-column-end: 2;
      -ms-grid-row: 1;
          grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      z-index: 2;
      background: #322e32;
    }

    .about-anni{
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 1;
      grid-column-end: 2;
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3;
      padding: 2em 2em 0em 2em;
      z-index: 2;
      background: #322e32;
    }

    .index-tour {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: 100px 154vh 100px 154vh 154vh 154vh 45vh 50vh;
      grid-template-rows: 100px 154vh 100px 154vh 154vh 154vh 45vh 50vh;
    }

    .index-tour > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }

    .index-tour > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    }

    .index-tour > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    }

    .index-tour > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    }

    .index-tour > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    }

    .index-tour > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    }

    .index-tour > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    }

    .index-tour > *:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    }

    #tour-pet-portraits {
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 4;
      grid-column-end: 5;
      -ms-grid-row: 4;
          grid-row-start: 4;
      -ms-grid-row-span: 1;
      grid-row-end: 5;
    }

    #tour-portraits-text{
      font-size: 20px;
    }

    .tour-portraits-text-margins1 {
    margin: 49vh 15vw 0 16vw;
    }

    #tour-human-portraits {
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 4;
      grid-column-end: 5;
      -ms-grid-row: 5;
          grid-row-start: 5;
      -ms-grid-row-span: 1;
      grid-row-end: 6;
    }

    #soc6-logo {
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 4;
      grid-column-end: 5;
      -ms-grid-row: 7;
          grid-row-start: 7;
      -ms-grid-row-span: 1;
      grid-row-end: 8;
      padding: 0 10% 0 10%;
    }

    #soc6-text {
      -ms-grid-column: 4;
          grid-column-start: 4;
      -ms-grid-column-span: 1;
      grid-column-end: 5;
      -ms-grid-row: 8;
          grid-row-start: 8;
      -ms-grid-row-span: 1;
      grid-row-end: 9;
      padding: 4px 20px;
    }

    /*petportrait.php*/
    .petport-grid{
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
    }
    .petport-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }
    .petport-grid > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    }

    .petport-comp-head{
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 2;
      grid-column-end: 3;
      -ms-grid-row: 1;
          grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }

    .petport-comp-sasha{
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 1;
      grid-column-end: 2;
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3;
    }

    .petport-comp-linus{
      -ms-grid-column: 2;
          grid-column-start: 2;
      -ms-grid-column-span: 1;
      grid-column-end: 3;
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3;
    }

    .petport-prices{
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 2;
      grid-column-end: 3;
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-row-span: 1;
      grid-row-end: 4;
    }
}

/* laptops */
@media (min-width: 992px) {
    .slider-size > img {
        width: 60%;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .slider-size {
        height: 300px;
    }
    .slider-size > img {
        width: 60%;
    }
    .center > .side > img {
        max-width: 80%;
        height: auto;
    }

    .tour-portraits-text-margins1 {
    margin: 54vh 7vw;
    padding: 1vh 0px 1vh 0px;
    width: 33%;
  }
}
@media (max-width: 1023px) {

    div.carousel-inner .item {
        min-height: 300px;
    }

    div.carousel-inner>.item>a, div.carousel-inner>.item, div.thumbnail a, div.thumbnail{
    min-height: 325px
    }

    .carousel-control.left, .carousel-control.right {
      height: 50vh;
    }

    button.navbar-toggle{
    margin: 15px 15px 25px 0;
    }

    .carousel-inner>.item>a, .carousel-inner>.item, .thumbnail a, .thumbnail{
    min-height: 100px
    }
}

.carousel-inner>.item>a, .carousel-inner>.item, .thumbnail a, .thumbnail{
min-height: 510px
}

/*slide caption*/
.carousel-caption {
    font-family: 'Della Respira', serif;
    text-shadow:
      1px -1px 0 #000,
      -1px 2px 1px #1A1A1A,
      -2px 4px 1px #141414,
      -3px 6px 1px #292929;
}

/*NEW Slider (using Slick), Sept 2018*/
.slick-slider{
  overflow: hidden;
}

.slick-slide img {
    display: block;
    margin: auto;
}

.slide-text {
  font-family: 'Della Respira', serif;
  position: absolute;
  bottom: 20px;
  right: 36%;
  background-color: #322e324d;
  color: #FFF;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow:
    1px -1px 0 #000,
    -1px 2px 1px #1A1A1A,
    -2px 4px 1px #141414,
    -3px 6px 1px #292929;
}

.responsive-slide {
    max-width: 100%;
    height: auto;
}

.portrait-slide {
    width: auto;
    max-height: 500px;
}

.portrait-slide img {
  display: block;
  margin: auto;
}

.portrait-nav-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 150px !important;
}

.slick-prev, .slick-next{
  margin: 0 18vw;
  z-index: 2;
}

.slick-list{
  margin-bottom: 5vh;
}

@media screen and (max-width: 650px) {
  .portrait-slide{
    width: 75%;
    max-height: 75%;
  }
}

legend {
  color: #f7b2ff;
}

/*Fixes for Microsoft Edge for people that actually use Edge for more than just downloading a good browser */
@supports (-ms-ime-align:auto) {
  #tour-gallery:before{
    -webkit-transform: translateZ(-1px) scale(1);
            transform: translateZ(-1px) scale(1);
  }
  #tour-special:before{
    -webkit-transform: translateZ(-1px) scale(1);
            transform: translateZ(-1px) scale(1);
  }
}

/*2/27/2019: IE fixes. Completed: index.php. To Do: gallery pages*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #tour-gallery:before{
    -webkit-transform: translateZ(-1px) scale(1);
            transform: translateZ(-1px) scale(1);
  }
  #tour-special:before{
    -webkit-transform: translateZ(-1px) scale(1);
            transform: translateZ(-1px) scale(1);
  }

  .gallery{
    display: -ms-inline-flexbox;
  }
}
